cirq==0.8.0
seaborn
sphinx
scipy
matplotlib~=3.3.1
sympy~=1.4
numpy~=1.19.1
qutip~=4.5.2
pandas~=1.0.3

# Runtime requirements for the python 3 version of cirq.

#dataclasses; python_version < '3.7'
#freezegun~=0.3.15
#qutip~=4.5.2
#setuptools~=49.6.0
#requests~=2.18
#typing_extensions
setuptools~=49.6.0
scikit-learn~=0.23.2
pydot~=1.4.1
plotly~=4.14.1